 .card-products {
   margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header

 }


 .productos {
   //  --background: linear-gradient(360deg, #6e91b9 0%, #bcc8dc 100%);
   --background: hsla(217, 83%, 50%, 1);
   //  border-top: none;
   --background: linear-gradient(180deg, hsla(217, 83%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 96%);

 }