 .productos {
   //  --background: linear-gradient(360deg, #6e91b9 0%, #bcc8dc 100%);
   --background: hsla(217, 83%, 50%, 1);
   //  border-top: none;
   --background: linear-gradient(180deg, hsla(217, 83%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 96%);

 }

//  .card-products {
//    margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
//    padding: 1rem 10rem;

//  }
 
 /**************************/
 /* BELOW 1344px (Smaller desktops) */
 /**************************/

 @media (max-width: 98em) {
   .card-products {
     margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
     padding: 1.5rem 10rem;


   }
 }

 /**************************/
 /* BELOW 1200px (Landscape Tablets) */
 /**************************/

 @media (max-width: 75em) {
   .card-products {
     margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
     padding: 1.5rem 9rem;
     --background: rgb(71, 9, 60);
   }
 }

 /**************************/
 /* BELOW 944px (Tablets) */
 /**************************/

 @media (max-width: 59em) {

   .card-products {
     margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
     padding: 1rem 5rem;
   }
 
 }
 
 /**************************/
 /* BELOW 704px (Smaller tablets) */
 /**************************/

 @media (max-width: 44em) {

   .card-products {
     margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
     padding: 0.5rem 2rem;
   }
 
 }

 /**************************/
 /* BELOW 544px (Phones) */
 /**************************/

 @media (max-width: 34em) {
   .card-products {
     margin: 0.4rem 1rem; //Cambia el margen de la lista de productos del header
     padding: 0rem 0.2rem;

   }
 

 }

 /* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/