<ion-content class="content" fullscreen>
  <div>
    <img
      alt="Empresa Garde-inversiones"
      src="./../../../assets/files/dashboard/we.jpg"
    />
    <ion-card-header>
      <ion-card-title> <strong>Nosotros</strong> </ion-card-title>
      <ion-card-subtitle>Garde Inversiones </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <p class="we-text">
          Cintas Panda, somos una empresa dedicada a la fabricación y
          distribución de cintas de embalaje, strech film, y productos
          relacionados, Nos esforzamos en cumplir estándares alto de calidad, en
          todas las etapas producción y comercialización. Hacemos despachos en
          todo Lima y provincia, nuestra sede producción se encuentra en
          Huachipa, Lima, Perú. Cintas Panda es parte de la empresa Garde
          Inversiones E.I.R.L., suministramos pedidos por mayor y menor, puede
          revisar nuestra <a href="/products">tienda Online.</a>
        </p>
      </div>
    </ion-card-content>
  </div>

  <div>
    <ion-title> Contactos: </ion-title>
    <ion-list class="contact-list">
      <ion-item>
        <div>
          <h4>Oscar Barreto H.</h4>
          <small><strong>Support</strong></small>
        </div>
      </ion-item>

      <ion-item>
        <ion-icon name="logo-whatsapp" color="success" slot="start"></ion-icon>
        <ion-label> +51 944 423 244</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-sharp" slot="start"></ion-icon>
        <ion-label>ohuayascachi@gmail.com</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="location-sharp" slot="start"></ion-icon>
        <ion-label>Huachipa, Lima, Lima , Perú</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="contact-list">
      <ion-item>
        <div>
          <h4>Edgar Huayascachi B.</h4>
          <small><strong>Distribuidor Autorizado</strong></small>
        </div>
      </ion-item>

      <ion-item>
        <ion-icon name="logo-whatsapp" color="success" slot="start"></ion-icon>
        <ion-label> +51 923 356 048</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-sharp" slot="start"></ion-icon>
        <ion-label>inversionesgarde2022@gmail.com</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="location-sharp" slot="start"></ion-icon>
        <ion-label>Huachipa, Lima, Lima , Perú</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
