.header {

  --min-height: 2.8rem;
  --background: linear-gradient(180deg, hsla(217, 83%, 50%, 1) 100%, hsla(186, 100%, 69%, 1) 96%);
  //--background: none;

  &_btn {
    padding-left: 1rem;
    background: none;
    color: $color-text-dark;

    .header__icon {
      --background: none;
      font-size: 26px;
      color: none;
    }
  }

  &__text {
    font-weight: 600;
    color: $color-text-dark;
    font-size: $text-title-main;
    padding-left: 1rem;
    // margin-left: 0.5rem;
    text-transform: uppercase;
  }
}