// .list {
//   display: flex;

// }
.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}


.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-text {
  font-size: 0.9rem;
}

.list {
  background-color: transparent;
}

.todo {
  display: grid;
  grid-template-rows: 2fr 0.5fr;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  margin-bottom: 0.5rem;

  border: #5e5e5e solid 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.information {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-left: 1rem;

  align-items: center;

}


.info-text {
  // background-color: yellow;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  text-align: justify;
  font-size: 0.8rem;
}

.text-note {
  font-size: 0.8rem;
}

.input {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;



  height: 1.9rem;
  margin-left: 2.2rem;
  align-items: center;

  label {
    font-size: 0.8rem;
  }
}

.i-number {
  width: 3rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #5e5e5e;
}

.pricing-number {
  font-size: 1rem;
  color: #5e5e5e;
}

.justificado {
  text-align: justify;
  margin: 0 0.6rem 0.4rem;
}