<ion-header translucent="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start" class="header_btn" (click)="routerRetro()">
      <ion-icon class="header__icon" name="chevron-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title class="header__text">Precios de producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="filtro-products">
    <!--  seleccion por categoria -->
    <div class="label-option">
      <label for="cate">Seleccione categoria</label>
      <select
        class="select"
        name="cate"
        id=""
        (change)="selectProdByCategoria($event)"
      >
        <option class="option" value="">Seleccione</option>
        <option
          class="option"
          *ngFor="let item of categorias$ | async"
          value="{{ item.id }}"
        >
          {{ item.name }}
        </option>
      </select>
    </div>

    <!-- seleccione subcategoria -->
    <div class="label-option">
      <label for="subca">Seleccione subcategoria</label>
      <select
        class="select"
        name="subca"
        id=""
        (change)="selectProdBySubCategoria($event)"
      >
        <option class="option" value="">Seleccione</option>
        <option
          class="option"
          *ngFor="let item of subcategorias$ | async"
          value="{{ item.id }}"
        >
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="product">
      <div>Seleccione <strong>producto</strong></div>
      <div class="label-select">
        <select class="select select-product" (change)="selectProduct($event)">
          <option class="option" value="">Seleccione</option>
          <option
            class="option"
            value="{{ item.id }}"
            *ngFor="let item of productos$ | async"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <!-- <div> <p> Fecha :  </p></div> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Step</th>
          <th colspan="2">Rango</th>
          <th>Precio</th>
          <th>Dirigido</th>
        </tr>
      </thead>
      <tbody>
        <tr class="t-tr" *ngFor="let it of preciosGeneral$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
        <tr class="t-tr-1" *ngFor="let it of preciosSeller1$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
        <tr class="t-tr-2" *ngFor="let it of preciosSeller2$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
        <tr class="t-tr-3" *ngFor="let it of preciosSeller3$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
        <tr class="t-tr-4" *ngFor="let it of preciosSeller4$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
        <tr class="t-tr-5" *ngFor="let it of preciosSeller5$ | async">
          <th>{{ it.step }}</th>
          <td colspan="2">[{{ it.range.start }} - {{ it.range.end }}]</td>
          <td>{{ it.unidadMoneda }} {{ it.price }}</td>
          <td>{{ it.toUser }}</td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <th>Balance</th>
          <td colspan="2">$20,00</td>
          <td colspan="2">$10,00</td>
        </tr>
      </tfoot> -->
    </table>
  </div>
</ion-content>
