.table {
  margin-bottom: 2rem;
}

.filtro-products {
  margin-bottom: 2.5rem;
}

.select {
  width: 10rem;
}

.label-option {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.label-select {
  position: relative;
}

.select-product {
  width: 22rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.product {
  margin-top: 1rem;

  div {
    margin-bottom: 0.4rem;
  }
}

.t-tr {
  border-left: 2px solid #0707;
  border-right: 2px solid #0707;
  background-color: rgba(0, 255, 255, 0.25);

  &:first-child {
    border-top: 2px solid #0707;
  }
}

.t-tr-1 {
  border-left: 2px solid rgba(4, 5, 4, 0.467);
  border-right: 2px solid rgba(4, 5, 4, 0.467);
  background-color: rgba(255, 149, 0, 0.25);

  &:first-child {
    border-top: 2px solid rgba(4, 5, 4, 0.467);
  }
}




.t-tr-2 {
  border-left: 2px solid rgba(119, 0, 28, 0.467);
  border-right: 2px solid rgba(119, 0, 28, 0.467);
  background-color: rgba(255, 0, 4, 0.25);

  &:first-child {
    border-top: 2px solid rgba(119, 0, 28, 0.467);
  }
}

.t-tr-3 {
  border-left: 2px solid rgba(10, 0, 119, 0.467);
  border-right: 2px solid rgba(10, 0, 119, 0.467);
  background-color: rgba(34, 0, 255, 0.25);

  &:first-child {
    border-top: 2px solid rgba(10, 0, 119, 0.467);
  }
}

.t-tr-4 {
  border-left: 2px solid rgba(0, 255, 102);
  border-right: 2px solid rgba(0, 255, 102);
  background-color: rgba(0, 255, 102, 0.25);



}

.t-tr-5 {
  border-left: 2px solid rgba(0, 242, 255);
  border-right: 2px solid rgba(0, 242, 255);
  background-color: rgba(193, 193, 193, 0.25);

  &:last-child {
    border-bottom: 2px solid #0707;
  }
}