 /*Color */
 $color-primary: #18C6F2;
 $color-primary-dark: #28b485;
 $color-grey-dark: #777;
 $color-white: #fff;
 $color-black: #000;

 $color-text-dark: #191919;


 /*¨COLOR BUTTON */



 /* Color Theme Swatches in Hex */
 $color-prima: #18C6F2;
 $color-third: #0034BF;
 $color-secon: #46598C;
 $color-fourt: #F48A55;
 $color-fifth: #BF2400;




 /*COLOR GRADIENTE */

 $color-grad-primary: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%); //Eliminar 

 /*SPACIN */
 $higth-header: 7rem;

 /*color text black and white

/* Color Theme Swatches in Hex */
 $color-text-1: #FFFFFF;
 $color-text-2: #E6E6E6;
 $color-text-3: #BFBFBF;
 $color-text-4: #808080;
 $color-text-5: #404040;

 //  0D0D0D

 /* COLOR BACKGROUND */


 $color-background-0: #FFFFFF;
 $color-background-1: #ececec;
 $color-background-2: #E6E6E6;