<ion-tabs>
  <ion-tab-bar class="content" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="tablet-landscape"></ion-icon>
      <ion-label>Nosostros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="(userRole$ | async) ==='root'" tab="inventario">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" (click)="activeService()">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
