<ion-card *ngFor="let item of orders" class="card">
  <ion-item lines="none" class="card-header">
    <ion-label class="header-text">
      <h2>{{ item.sequence }}</h2>
      <h3 *ngIf="item.client !== null" class="text-client">
        {{ item.client.name }} {{ item.client.lastName1 }}
        <strong> - </strong> Cod.:<strong> P12345</strong>
        <!-- <span class="text-cant">[{{ item.order.length }}]</span> -->
      </h3>
      <h3 *ngIf="item.client === null" class="text-client">
        {{ item.userRegister.nameFull }}<strong> - </strong> Cod.:<strong>
          P12345</strong
        >
      </h3>

      <br />

      <p class="text-fecha">Fecha de pedido : {{ item.createdAt | date }}</p>
    </ion-label>

    <ion-badge
      (click)="changeStatusOrder(item.id)"
      class="info-badge-2"
      color="success"
      id="present-alert"
      slot="end"
      >{{ item.statusOrder }}</ion-badge
    >
    <ion-alert
      class="popoverAlert"
      mode="md"
      [isOpen]="isAlertOpen"
      header="Estado de pedido"
      [buttons]="alertButtons"
      [inputs]="alertInputs"
      (didDismiss)="setOpen(false, $event)"
    ></ion-alert>
  </ion-item>

  <ion-list lines="none" class="card-body">
    <div *ngFor="let lis of item.cartSelected" class="item-orden">
      <div class="produc-name">
        <div>
          {{ lis.producto.name }}
        </div>
        <div class="text-feuter">{{ lis.count }}</div>
        <div class="text-sub">S/ {{ lis.precioSelect }}</div>
      </div>

      <!-- <ion-progress-bar [value]="progress"></ion-progress-bar> -->
    </div>

    <div class="item-orden-1">
      <div></div>
      <div></div>
      <div></div>
      <ion-label class="label-total">Total</ion-label>
      <strong class="text-total">
        {{ item.typeMoneda }} {{ item.total }}</strong
      >
    </div>
  </ion-list>
</ion-card>
