ion-content {
  text-align: center;
  position: relative;
  // --background :radial-gradient(circle at -4.17% 4.55%, #dcaf3d 0, #e4a63a 7.14%, #eb9b38 14.29%, #f18e37 21.43%, #f68039 28.57%, #f9703c 35.71%, #fa5d41 42.86%, #f94646 50%, #f7284d 57.14%, #f30057 64.29%, #ee0062 71.43%, #e7006f 78.57%, #de007e 85.71%, #d2008d 92.86%, #c4009e 100%);

  ion-list {
    .cinta-venta {
      --background: radial-gradient(circle at -4.17% 4.55%, #dcaf3d 0, #e4a63a 7.14%, #eb9b38 14.29%, #f18e37 21.43%, #f68039 28.57%, #f9703c 35.71%, #fa5d41 42.86%, #f94646 50%, #f7284d 57.14%, #f30057 64.29%, #ee0062 71.43%, #e7006f 78.57%, #de007e 85.71%, #d2008d 92.86%, #c4009e 100%);
      color: white;
      width: 10rem;
      font-size: larger;
      font-weight: 600;


    }
  }

}



.content-button {
  padding: 0 2rem 0;

}

.button-out {
  font-weight: 600;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
  // --border-radius: 20px;
}

.button-in {
  font-weight: 600;
  --background: radial-gradient(circle at -4.17% 4.55%, #dcaf3d 0, #e4a63a 7.14%, #eb9b38 14.29%, #f18e37 21.43%, #f68039 28.57%, #f9703c 35.71%, #fa5d41 42.86%, #f94646 50%, #f7284d 57.14%, #f30057 64.29%, #ee0062 71.43%, #e7006f 78.57%, #de007e 85.71%, #d2008d 92.86%, #c4009e 100%);
  --border-radius: 20px;
}

ion-item ion-icon {
  font-weight: 600;
  color: #000000;
}

ion-item ion-label {
  font-weight: 500;
}

.button-pedido {
  text-decoration: none;
}

ion-badge {

  font-size: 13px;
  font-weight: 600;


}

.text-temp {

  font-style: italic;
  color: #0F084B;

}

.cart-list {

  text-decoration: none;
}


@media screen and (min-width: 768px) {
  .content-button{
    width: 30rem;
    display: flex;
    justify-content: center;
    ion-button{
      width: 100%;
    }
 
  }
 
}