.header {
  padding-bottom: 0px;
}


ng-template {
  height: max-content !important;
}

ion-thumbnail {
  --size: 100% !important;


  --border-radius: 1px;
}

ion-content {
  height: 90vh !important;

}

ion-accordion-group {
  --background: red;
}

.start-btn {
  width: 100px;
  height: 50px;
}


.label {
  // background-color: rgb(0, 81, 255);
  margin: 0 0 0 0;


}

.valor {
  // background-color: red;
  margin: 0 0 0 0;

}

::ng-deep label.star {
  padding: 0 5px !important;
  font-size: 20px !important;
  color: #ffd700 !important;


  &::before {
    content: "\f005" !important;
  }

  &:hover {
    transform: rotate(0deg) scale(1.2) !important;
  }
}

.text-title {
  padding: 0px 0px 0px 0.2rem;
  // margin: 0px 0px 0px 1rem;
  // padding-left: 1rem;

}

.text-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.my-popover-product {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
}

.btn-flotante {
  position: relative;
}

.tienda-information {
  display: flex;
  flex-direction: column;

  gap: 0.7rem;
  margin: 0 0.7rem 0.7rem 0.7rem;
  justify-content: justify;

  div {
    justify-content: justify;
  }
}


ion-fab  {

  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: center;
   
}

@media screen and (min-width: 768px) {
  .img-prod{
 
    width: 25rem !important;
  }
}