.header {
  padding-bottom: 0px;
}

.detalle-product{
  margin-top: 0.5rem 0.5rem 0.5rem;
}
// .container{
// display: flex;
// align-items:self-start;
// }

ng-template {
  height: max-content !important;
}

ion-thumbnail {
  --size: 100% !important;


  --border-radius: 1px;
}

ion-content {
  height: 100vh !important;

}

// ion-accordion-group {
//   --background: red;
// }

.start-btn {
  width: 100px;
  height: 50px;
}


.label {
  // background-color: rgb(0, 81, 255);
  margin: 0 0 0 0;


}

.valor {
  // background-color: red;
  margin: 0 0 0 0;

}

::ng-deep label.star {
  padding: 0 5px !important;
  font-size: 20px !important;
  color: #ffd700 !important;


  &::before {
    content: "\f005" !important;
  }

  &:hover {
    transform: rotate(0deg) scale(1.2) !important;
  }
}

.text-title {
  padding: 0px 0px 0px 0.2rem;
  // margin: 0px 0px 0px 1rem;
  // padding-left: 1rem;

}

.text-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.my-popover-product {
  display: flex;
  align-items: center;
  justify-content: center;
 // position: relative;
 
}

.btn-flotante {
  position: relative;
}

.tienda-information {
  display: flex;
  flex-direction: column;

  gap: 0.7rem;
  margin: 0 0.7rem 0.7rem 0.7rem;
  justify-content: justify;

  div {
    justify-content: justify;
  }
}

.final{
  height: 1rem;
}
// ion-fab  {

//   display: flex;
//   width: 100% !important;
//   align-items: center;
//   justify-content: center;
   
// }

// @media screen and (min-width: 768px) {
//   .img-prod{
 
//     width: 25rem !important;
//     background: #ffd700;
//   }
// }

.container-prod {
 
  --background-color: #eaff00;
 
   background-color: #2dd5d3;
   --background : #eaff00;
 
   background : #2dd5d3;

}

 /**************************/
 /* Aqui responsible device /
 /**************************/



 /**************************/
 /* BELOW 1344px (Smaller desktops) */
 /**************************/

 @media (max-width: 98em) {
 
  .container-prod {
      margin-left: 27rem;
      margin-right: 27rem;
      width: auto; 
      --background-color: #00fffb;
      --background: #00fffb;
      z-index: 2;

   }

    .img-prod{
 
        width: 22rem !important ;
 
      }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .container-prod {
      margin-left: 21rem;
      margin-right: 21rem;
      width: auto;
      background: #00fffb;
   }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {

  .container-prod {
      margin-left: 12rem;
      margin-right: 12rem;
      width: auto;
   }

}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .container-prod {
      margin-left: 6rem;
      margin-right: 6rem;
      width: auto;
   }

}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
 
  .container-prod {
      margin-left: 0.1rem;
      margin-right: 0.1rem;
      width: auto;
   }

}