<ion-header>
  <ion-toolbar class="header">
    <!-- <div class="title-header"> header_btn icon-retro-->
    <button slot="start" class="header_btn">
      <ion-icon
        class="header__icon"
        slot="start"
        (click)="routerLinkRetro()"
        name="chevron-back-sharp"
      >
      </ion-icon>
    </button>

    <ion-title class="header__text"> Registro nuevo cliente </ion-title>
    <!-- </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="card" fullscreen="true" scroll-y="true">
  <form [formGroup]="formCustomer" (ngSubmit)="postForm()">
    <ion-item>
      <ion-label>Celular</ion-label>
      <ion-input
        type="tel"
        maxlength="9"
        formControlName="phone"
        class="input input-number"
      >
      </ion-input>
      <ion-icon
        *ngIf="
          this.formCustomer.get('phone').value.length === 0 &&
          !this.formCustomer.get('phone').dirty
        "
        class="icon-alerta"
        name="alert"
      ></ion-icon>

      <span *ngIf="lenthPhone !== 9 && this.formCustomer.get('phone').dirty">
        <small id="no-valid">No valido</small></span
      >
      <ion-icon
        *ngIf="this.formCustomer.get('phone').valid || lenthPhone === 9"
        class="icon-check"
        name="checkmark-sharp"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input
        formControlName="name"
        value="{{ this.formCustomer.get('name').value | titlecase }}"
        maxlength="15"
        class="input input-datos"
      >
      </ion-input>
      <ion-icon
        *ngIf="
          this.formCustomer.get('name').value.length === 0 &&
          !this.formCustomer.get('name').dirty
        "
        class="icon-alerta"
        name="alert"
      ></ion-icon>
      <span
        *ngIf="
          this.formCustomer.get('name').invalid &&
          this.formCustomer.get('name').dirty
        "
      >
        <small id="no-valid">No valido</small></span
      >
      <ion-icon
        *ngIf="this.formCustomer.get('name').valid"
        class="icon-check"
        name="checkmark-sharp"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Primer apellido</ion-label>
      <ion-input
        formControlName="lastName1"
        maxlength="15"
        value="{{ this.formCustomer.get('lastName1').value | titlecase }}"
        class="input input-datos"
      ></ion-input>
      <ion-icon
        *ngIf="
          this.formCustomer.get('lastName1').value.length === 0 &&
          !this.formCustomer.get('lastName1').dirty
        "
        class="icon-alerta"
        name="alert"
      ></ion-icon>

      <span
        *ngIf="
          this.formCustomer.get('lastName1').invalid &&
          this.formCustomer.get('lastName1').dirty
        "
      >
        <small id="no-valid">No valido</small></span
      >
      <ion-icon
        *ngIf="this.formCustomer.get('lastName1').valid"
        class="icon-check"
        name="checkmark-sharp"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Segundo apellido</ion-label>
      <ion-input
        formControlName="lastName2"
        value="{{ this.formCustomer.get('lastName2').value | titlecase }}"
        class="input input-datos"
      ></ion-input>
      <!-- <span *ngIf="this.formCustomer.get('lastName2').invalid && 
                   this.formCustomer.get('lastName2').dirty" > 
                  <small id="no-valid">No valido</small></span> -->
      <ion-icon
        *ngIf="this.formCustomer.get('lastName2').value.length > 2"
        class="icon-check"
        name="checkmark-sharp"
      >
      </ion-icon>
    </ion-item>

    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Datos basicos</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-item-group>
            <ion-item>
              <ion-label>Foto</ion-label>
              <ion-input
                class="input"
                formControlName="image"
                type="file"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>DNI</ion-label>
              <ion-input
                formControlName="dni"
                type="number"
                class="input input-datos"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>RUC</ion-label>
              <ion-input
                formControlName="ruc"
                type="number"
                step="1"
                class="input input-datos"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-select
                formControlName="genero"
                class="input input-datos"
                interface="popover"
                placeholder="Seleccione genero"
              >
                <ion-select-option value="M">M</ion-select-option>
                <ion-select-option value="F">F</ion-select-option>
                <ion-select-option value="0">0</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input
                formControlName="email"
                class="input input-datos"
              ></ion-input>
            </ion-item>
            <ion-item formGroupName="edad">
              <ion-label>Edad</ion-label>
              <ion-input
                formControlName="edad"
                type="number"
                class="input input-datos"
              ></ion-input>
            </ion-item>
          </ion-item-group>
        </div>
      </ion-accordion>

      <!-- dirección -->
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Dirección</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content" formGroupName="adress">
          <!-- Pais -->
          <ion-item>
            <ion-label>País</ion-label>
            <ion-input
              type="text"
              formControlName="pais"
              class="input input-datos"
              value="Perú"
            >
            </ion-input>
          </ion-item>

          <!-- Departamento -->
          <ion-item>
            <ion-label>
              <h3>Departamento</h3>
            </ion-label>

            <ion-input
              type="text"
              formControlName="estado"
              value="Lima"
              class="input input-datos"
            ></ion-input>
          </ion-item>

          <!-- provincia -->
          <ion-item>
            <ion-label>
              <h3>Provincia</h3>
            </ion-label>

            <ion-input
              type="text"
              formControlName="provincia"
              value="Lima"
              class="input input-datos"
            ></ion-input>
          </ion-item>

          <!-- Distrito -->
          <ion-item>
            <ion-label>
              <h3>Distrito</h3>
            </ion-label>

            <ion-input
              type="text"
              formControlName="distrito"
              value="Lima"
              class="input input-datos"
            ></ion-input>
          </ion-item>

          <!-- direccion -->
          <div formGroupName="adress">
            <ion-item>
              <ion-label>
                <h3>Dirección</h3>
              </ion-label>

              <ion-textarea
                type="text"
                formControlName="location"
                value="Lima"
                class="input-datos"
              ></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>Referencia</h3>
              </ion-label>

              <ion-textarea
                type="text"
                formControlName="reference"
                value="Lima"
                class="input-datos"
              ></ion-textarea>
            </ion-item>
          </div>

          <!-- Buttones -->
          <!-- <div class="button-add-direcc">
            <button (click)="resetAdress()" class="button-delete">
              <ion-icon class="button-icon" name="refresh-outline"></ion-icon>
            </button>
          </div> -->
        </div>
      </ion-accordion>

      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Informaciòn de venta</ion-label>
        </ion-item>

        <div
          class="ion-padding"
          slot="content"
          formGroupName="informacionBanco"
        >
          <ion-item>
            <ion-label>Banco</ion-label>
            <ion-input
              formControlName="nombreBanco"
              class="input input-datos"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Cuenta</ion-label>
            <ion-input
              type="number"
              formControlName="cuenta"
              class="input input-datos"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>CCI</ion-label>
            <ion-input
              formControlName="cci"
              type="number"
              class="input input-datos"
            ></ion-input>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-button
      expand="block"
      type="submit"
      class="color-button-registrar"
      [disabled]="!this.formCustomer.valid"
      >Registrar

      <ion-icon name="person-add" slot="end"></ion-icon>
    </ion-button>
  </form>

  valid: <span> {{ this.formCustomer.valid }}</span>
</ion-content>

<!-- 
Direcciones array
<ion-item-group [formGroup]="newDireccion">
  Pais 
  <ion-item>
    <ion-label>País</ion-label>
    <ion-input
      type="text"
      formControlName="pais"
      class="input input-datos"
      value="Perú"
    >
    </ion-input>
  </ion-item>

  <  Departamento - 
  <ion-item>
    <ion-label>
      <h3>Departamento</h3>
    </ion-label>

    <ion-input
      type="text"
      formControlName="estado"
      value="Lima"
      class="input input-datos"
    ></ion-input>
  </ion-item>

  <  provincia  
    <ion-label>
      <h3>Provincia</h3>
    </ion-label>

    <ion-input
      type="text"
      formControlName="provincia"
      value="Lima"
      class="input input-datos"
    ></ion-input>
  </ion-item>

  Distrito  
  <ion-item>
    <ion-label>
      <h3>Distrito</h3>
    </ion-label>

    <ion-input
      type="text"
      formControlName="distrito"
      value="Lima"
      class="input input-datos"
    ></ion-input>
  </ion-item>

 direccion  
  <div formGroupName="adress">
    <ion-item>
      <ion-label>
        <h3>Dirección</h3>
      </ion-label>

      <ion-textarea
        type="text"
        formControlName="location"
        value="Lima"
        class="input-datos"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Referencia</h3>
      </ion-label>

      <ion-textarea
        type="text"
        formControlName="reference"
        value="Lima"
        class="input-datos"
      ></ion-textarea>
    </ion-item>
  </div>

  Buttones 
  <div class="button-add-direcc">
    <button (click)="resetAdress()" class="button-delete">
      <ion-icon class="button-icon" name="refresh-outline"></ion-icon>
    </button>
  </div>
</ion-item-group> 


INFORMACION 
DE 
BANCO
        
        <div
          class="ion-padding"
          formArrayName="informacionBanco"
          slot="content"
        >
          <ion-item-group
            *ngFor="let item of cuentaBancaria.controls; let i = index"
          >
            <ng-container [formGroup]="newCuenta">
              <ion-item-divider>
                <ion-label>
                  <strong> Numero de cuenta {{ i + 1 }} </strong>
                </ion-label>
              </ion-item-divider>

              <ion-item-sliding>

                <ion-item>
                  <ion-label>Banco</ion-label>
                  <ion-input
                    formControlName="nombreBanco"
                    class="input input-datos"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Cuenta</ion-label>
                  <ion-input
                    type="number"
                    formControlName="cuenta"
                    class="input input-datos"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>CCI</ion-label>
                  <ion-input
                    formControlName="cci"
                    type="number"
                    class="input input-datos"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label> Estado</ion-label>

                  <ion-select
                    class="input input-datos"
                    formControlName="status"
                    interface="popover"
                    placeholder="Seleccione "
                  >
                    <ion-select-option value="activo">Activo</ion-select-option>
                    <ion-select-option value="desactivado"
                      >Desactivado</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-item-sliding>

              <ion-item-divider style="margin-top: 0.5rem; margin-top: 0.5rem">
                <ion-item style="width: 40rem">
                  <ion-col size="4" class="button-delete">
                    <ion-icon
                      color="danger"
                      class="button-icon"
                      (click)="deleteCuenta(i)"
                      name="trash"
                    ></ion-icon>
                  </ion-col>

                  <ion-col size="5.2" class="button-text">
                    Elegir como principal
                  </ion-col>

                  <ion-col size="2.5" class="button-seleted">
                    <ion-checkbox
                      class="button-icon-check"
                      formControlName="seleted"
                      checked="true"
                      color="success"
                    >
                    </ion-checkbox>
                  </ion-col>
                </ion-item>
              </ion-item-divider>
            </ng-container>
          </ion-item-group>
          <ion-button expand="block" (click)="addCuentaBanco()" fill="outline"
            >Agregar cuenta</ion-button
          >
        </div>


-->
