<ion-content>
  <!-- <ion-thumbnail>
    <img class="logo" alt="logo" src="/assets/img/logo.png" />
  </ion-thumbnail> -->

  <section class="text-1">
    <h2>Bienvenido a la Tienda vitual de</h2>
    <h1 class="name-tienda">GARDE STORE</h1>
  </section>

  <section class="text-2">
 
    <!-- <a href="/products"> -->
    <a [routerLink]="['/products']">
 
      <ion-button color="danger" shape="round">
        <strong>Ir a Tienda</strong>
      </ion-button></a
    >
  </section>

  <!-- <ion-button color="primary">Primary</ion-button>
 
<ion-button color="light">Light</ion-button> -->

  <section id="formInput">
    <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <!-- <img class="person" src="/assets/avatars/avatar.png" /> -->
            <img class="person" alt="logo" src="/assets/img/logo.png" />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label id="telefono">Celular</ion-label>
                <ion-input
                  formControlName="phone"
                  placeholder="9"
                  type="tel"
                  maxlength="9"
                  name="telefono"
                  required
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Password</ion-label>
                <ion-input
                  formControlName="password"
                  name="password"
                  type="password"
                  required
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <!-- <div>
       
        </ion-row> -->

        <ion-row>
          <ion-col>
            <ion-button
              id="buttonColor"
              type="submit"
              color="danger"
              shape="round"
            >
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>

  <div class="navigation-text">
    <a [routerLink]="['/auth/sign-in']" class="navigation-text__text"> Registrarse </a>
 
 
 
  
 
  </div>
</ion-content>
