 .name-product {
   //  --color: black;
   font-size: 0.9rem;
   //  font-weight: 600;


 }

 .item {
   height: 2.1rem;
 }

 .filtro-products {
   margin: 0.7rem 1rem 1.2rem 1rem;
 }

 .select {
   width: 10rem;
 }

 .tarjeta {
   margin: 0 1rem;
   border-radius: 10px;
 }

 .label-option {
   margin-top: 0.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 0.9rem;
 }


 .label-select {
   position: relative;
 }

 .title-select {
   font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 0.4rem;
 }

 .nota-text {
   font-size: 0.8rem;
   width: 100%;
   padding: 0.5rem;
 }

 .card {
   //  background-color: aqua;
   padding: 0 0rem;
   margin: 0.5rem 0.2rem;

 }