<ion-header translucent="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start" class="header_btn" (click)="routerRetro()">
      <ion-icon class="header__icon" name="chevron-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title class="header__text">Lista de productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <div class="filtro-products">
    <section>
      <p class="title-select">Filtrar productos</p>
    </section>
    <!--  seleccion por categoria -->
    <div class="label-option">
      <label for="cate">Seleccione categoria</label>
      <select
        class="select"
        name="cate"
        id=""
        (change)="selectProdByCategoria($event)"
      >
        <option class="option" value="">Seleccione</option>
        <option
          class="option"
          *ngFor="let item of categorias$ | async"
          value="{{ item.id }}"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
    <!-- seleccione subcategoria -->
    <div class="label-option">
      <label for="subca">Seleccione subcategoria</label>
      <select
        class="select"
        name="subca"
        (change)="selectProdBySubCategoria($event)"
      >
        <option class="option" value="">Seleccione</option>
        <option
          class="option"
          *ngFor="let item of subcategorias$ | async"
          value="{{ item.id }}"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <ion-list [inset]="true" class="tarjeta">
    <ion-item-sliding *ngFor="let item of products$ | async; let i = index">
      <ion-item class="item" [button]="true">
        <p class="name-product">{{ i + 1 }}- {{ item.name }}</p>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger" expandable="true">
          <ion-icon
            (click)="deleteProduct(item.id)"
            class="icon-delete"
            name="trash-outline"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <p class="nota-text">
      <strong>NOTA: </strong> Arrastra el nombre hacia la izquiera y click en
      tacho para eliminar el producto.
    </p>
  </ion-list>
</ion-content>
