<ion-header translucent="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start" class="header_btn" (click)="routerRetro()">
      <ion-icon class="header__icon" name="chevron-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title class="header__text">Lista de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list [inset]="true" class="card">
    <!-- <ion-item-sliding *ngFor="let item of productsAllWithPrecio$ | async"> -->
    <ion-item-sliding>
      <ion-item [button]="true">
        <p class="name-product">
          Film de 18pulg. 1.1kg -
          <em class="user-reister">Oscar Huayascachi</em>
        </p>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger" expandable="true">
          <!-- <ion-icon
          (click)="deletePrice(item.id)" -->
          <ion-icon class="icon-delete" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <p class="nota-text">
      <strong>NOTA: </strong>
      Arrastra el nombre hacia la izquiera para eliminar el precio y poder
      actualizarlo.
    </p>
  </ion-list>
</ion-content>
