.title-header {
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
}

.segment {
  display: flex;
  flex-direction: column;
  // background: #BFBFBF;
  padding-top: 0.2rem;
  border-radius: 15px;


}

.segment-header {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.segment-block {
  margin-left: 0.7rem;
  padding-right: 1.5rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

ion-segment-button::part(indicator-background) {
  background: #e3e1e1;


}

ion-list {
  margin-right: 0.1rem;
  padding-top: 0.1rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  /*Elimina la underline del button */
  font-size: 0.7rem;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  // letter-spacing: 0.8px;

  transition: background-color 0.3s;
  /* Esto anima el moton con el pasar del mouse*/

  background-color: #46598C;
  color: #fff;
  margin-right: 0.8rem;

}

/* esto dará cambiara el color al pasar el mouse */
.btn--full:hover,
.btn--full:active {
  background-color: #46598C;
  color: #fff;
}

.btn-segment {

  display: flex;
  margin: 1rem 0rem;

  justify-content: space-around;


}

.icon-delete {
  font-size: 1.8rem;
  font-weight: 700;
}

.label {
  font-size: 0.9rem;
}

.nota-text {
  margin: 0.5rem 1rem;
  font-size: 0.9rem;

  strong {
    font-size: 0.8rem;
  }
}