<ion-content
  [ngClass]="this.screemSeller === false ? 'content-reg' : 'content-ven'"
>
  <section id="formInput">
    <form (ngSubmit)="onSubmit()" [formGroup]="formRegister">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h1>
              <strong> {{ tittleRegister }}</strong>
            </h1>
            <p>Fácil y rápido</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-input
                  name="text"
                  id="nameInput"
                  autocomplete="name"
                  formControlName="name"
                  type="tex"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Primer Apellido</ion-label>
                <ion-input
                  name="text"
                  id="lastName1Input"
                  formControlName="lastName1"
                  type="tex"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Segundo Apellido</ion-label>
                <ion-input
                  name="text"
                  id="lastName2Input"
                  formControlName="lastName2"
                  type="tex"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>DNI/Pasaporte</ion-label>
                <ion-input
                  name="text"
                  formControlName="dni"
                  type="tex"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Número de celular</ion-label>
                <ion-input
                  name="tel"
                  inputmode="tel"
                  maxlength="9"
                  formControlName="phone"
                  placeholder="987987654"
                  type="text"
                  required
                ></ion-input>
              </ion-item>
              <!-- <ion-item>
                <ion-label>Email</ion-label>
                <ion-input
                  name="email"
                  autocomplete="email"
                  formControlName="email"
                  type="email"
                  equired
                ></ion-input>
              </ion-item> -->
              <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input
                  name="password"
                  formControlName="password"
                  [type]="valueText1"
                  required
                ></ion-input>
                <ion-icon
                  (click)="verPassword1()"
                  slot="end"
                  name="eye"
                  value="pass1"
                ></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label>Verificar constraseña</ion-label>
                <ion-input
                  formControlName="confiPassword"
                  [type]="valueText2"
                ></ion-input>
                <ion-icon
                  (click)="verPassword2()"
                  slot="end"
                  name="eye"
                  value="pass2"
                ></ion-icon>
              </ion-item>
              <small>
                <p
                  class="text-valid"
                  *ngIf="formRegister.get('confiPassword').valid"
                >
                  {{ messeger }}
                </p>
              </small>
              <small>
                <p
                  class="text-invalid"
                  *ngIf="
                    formRegister.get('confiPassword').invalid &&
                    formRegister.get('confiPassword').dirty
                  "
                >
                  {{ messeger }}
                </p>
              </small>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button
              [disabled]="!this.formRegister.valid"
              id="buttonColor"
              type="submit"
              shape="round"
              color="danger"
            >
              Registrarse
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
  <ion-row>
    <!-- {{ this.formRegister.valid }} -->
  </ion-row>

  <div></div>
  <div></div>
  <div id="register">
    <a href="/auth/log-in"> Ya tengo una cuenta </a>
  </div>
  <div class="vendedor-register" *ngIf="!screemSeller">
    <!-- href="#home" -->
    <ion-breadcrumb (click)="registerLikeSeller()">
      Registarte como Vendedor
      <ion-icon name="happy-outline"></ion-icon>
    </ion-breadcrumb>
  </div>
  <!-- {{ this.formRegister.value | json }} -->
</ion-content>
