.mainSlide,
.mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 150px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.content-reg {
    text-align: center;
    position: relative;

    --background: linear-gradient(180deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

}

.content-ven {
    text-align: center;
    position: relative;

    // --background: hsla(217, 83%, 50%, 1);

    --background: linear-gradient(180deg, hsla(217, 83%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 96%);
}

#formInput {
    margin: 1.5rem;
    border-radius: 15px;
    background-color: rgb(251, 246, 246);
    /* centrar vertical y horizontalmente */
    position: relative;
    top: 10%;

}

#register {
    margin: 1.5rem;
    border-radius: 15px;
    position: relative;
    top: 10%;

    font-weight: 600;
    //font-weight: bold;
}

.vendedor-register {
    margin: 1.5rem;
    border-radius: 15px;
    position: relative;
    top: 8%;
    right: 50%;
    transform: translate(70%, 0);
    font-weight: 600;
}


#buttonColor {
    --ion-color-danger: #0034BF;

}

ion-input {
    font-size: 16px;
    font-weight: bold;
}

#alertaPass {
    color: red;
}

#nameInput {
    text-transform: capitalize;
}

#lastName1Input {
    text-transform: capitalize;
}

#lastName2Input {
    text-transform: capitalize;
}

.text-valid {
    color: green;
    font-weight: 600;
}


.text-invalid {
    color: red;
    font-weight: 600;
}