.icon-retro {
    font-size: 25px;
    vertical-align: bottom;
    margin-bottom: 3px;
}


.form-select-sm {
    width: fit-content;
}

.item-client {
    //border: 1px solid #4e4d4d;
    border-radius: 10px;
    border: 1px solid #7c7c7c;

    //  box-shadow: 1px 1px 2px 3px #7c7c7c;
    margin: 1rem 0.8rem;


    display: grid;
    grid-template-columns: 1fr 3.5fr 0.5fr;
    align-items: center;
    gap: 1rem;
}

.text {
    line-height: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.text:last-child {

    margin-bottom: 8px;
}

.img-avatar{
      width: 90%;
      height: 90%;
 
}

 
.text-1 {
    font-size: 14px;
}

.text-2 {
    font-size: 0.8rem;
}