.img {
  width: 100%;
  height: 100%;

  background-color: rgb(230, 230, 230);
  transition: all;
}

.body {
  margin: 1rem 0.7rem 0.5rem 0.7rem;
}

.text-nota {
  margin: 3rem 1rem 0rem 1rem;


  //background-color: bisque;
  p {
    font-size: 0.8rem;

  }
}

.card-img {
  margin-top: 1rem;
  width: 70%;
  transform: translate(-50%, 0);
  left: 47%;
}



ion-progress-bar {
  height: 0.7rem;
}

.card-title {
  height: 2rem;

  //background-color: aqua;

  p {

    color: #777;
    font-weight: 500;
    font-size: 0.9rem;
    // background-color: burlywood
  }

  ;
}


.img-1::after {
  content: '1';
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  padding: 0.1rem 3rem 0 0.8rem;
  transform: rotate(0deg);
  top: 8%;
  right: -10%;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;

}

.img-2::after {
  content: '2';
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  padding: 0.1rem 3rem 0 0.8rem;
  transform: rotate(0deg);
  top: 8%;
  right: -10%;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;

}

.img-3::after {
  content: '3';
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  padding: 0.1rem 3rem 0 0.8rem;
  transform: rotate(0deg);
  top: 8%;
  right: -10%;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;

}

.img-4::after {
  content: '4';
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  padding: 0.1rem 3rem 0 0.8rem;
  transform: rotate(0deg);
  top: 8%;
  right: -10%;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;

}

.img-5::after {
  content: '5';
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  padding: 0.1rem 3rem 0 0.8rem;
  transform: rotate(0deg);
  top: 8%;
  right: -10%;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;

}

.msg {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  }

.msg-1, .msg-2 {
display: flex;
justify-content: center;
}