<ion-content fullscreen>
  <ion-segment
    class="segment"
    (ionChange)="cambioSegment($event)"
    value="no-completed"
    mode="ios"
    >
    <ion-segment-button class="segment-1" value="no-completed">
      <ion-label class="segment-label">En proceso</ion-label>
    </ion-segment-button>

    <ion-segment-button class="segment-1" value="completed">
      <ion-label class="segment-label">Completados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-loading></app-loading>

  @if (segment === 'no-completed') {
    <app-card-list-orders
      [orders]="ordersNoEnd$ | async"
      >
    </app-card-list-orders>
  }
  @if (segment === 'completed') {
    <app-card-list-orders
      [orders]="ordersEnd$ | async"
      >
    </app-card-list-orders>
  }
</ion-content>
