// 1. REGLAS @USE (DEBEN IR PRIMERO QUE TODO)
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use "./scss/main";

// 2. REGLAS @IMPORT (PARA ARCHIVOS .CSS)
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Swiper for Ionic */
@import "@ionic/angular/css/ionic-swiper";

// 3. ESTILOS GLOBALES MANUALES
body {
  font-family: 'Roboto', sans-serif;
  color: #3D3C3A;
  font-size: 14px;
}
