/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';


// ion-action-sheet.my-custom-class .action-sheet-button,
// ion-action-sheet.my-custom-class .action-sheet-button.ion-focused {
//   color: #000000;
//   text-align: center;
//   border-radius: 5px;
//   margin-bottom: 1rem;
//   width: 20rem;
//   background-color: #18C6F2;
//   align-items: center;
//   margin-left: 3rem;
//   padding-left: 2rem;
//   font-size: larger;
// }

//Import Personalitie SCSS
@import "./scss/main.scss";


body {
  font-family: 'Roboto', sans-serif;
  color: #3D3C3A;
  font-size: 14px;
}

// text

// font-family: 'Roboto', sans-serif;

// font-family: 'Rubik Distressed', cursive;