// Base
@import "base/variables";
@import "base/content";
@import "base/typography";
@import "base/utilities";


//Components
@import "components/buttons";
@import "components/navigation";
@import "components/card";
@import "components/filtro-productos";



// Elements

//Layouts
@import "layouts/header";



// Pages

@import "pages/dashboard";